*{
    margin: 0;padding: 0;
}

h1{
    width: 100%;
    height: 10vh;
    text-align: center;
    place-content: center;
    background: skyblue;
    position: fixed;
    top: 0;
}

.para{
    margin-top: 10vh;
}

h2{
    width: 100%;
    height: 10vh;
    text-align: center;
    place-content: center;
    background-color: palevioletred;
    position: sticky;
    top: 0;
}