*{
    margin: 0;padding: 0;
    font-family:sans-serif;
    box-sizing: border-box;
}
.header{
    background-color:rgba(0, 0, 0, 0.381);
    color: white;
    position: fixed;
    width: 100%;
    height: 10vh;
    padding: 10vh 0;
    z-index: 2;
    .logo{
    left: 0;top: 0;
    height: 100%;
    position: absolute;
    }
    li{
    transition: all 1s;
    color:white;
    cursor:pointer;
    }
    li:hover{
    transform: scale(1);
    }
    a:hover{
    color:goldenrod;
    }
}
ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items:left;
    flex-wrap: wrap;
    }
a{
    text-decoration: none;
    font-size: large;
    font-weight: bold;
    color: white;
}
    
.container{
    border: solid 1px black;
    height: 100vh;
    width: 100%;
    background: url('./Images/img11.jpg') no-repeat center/cover;
    h3{ 
        text-align: center;
        height: 100vh;
        width: 100%;
        padding: 30vh 0;
        font-size: 70px;
        color:white;
        text-shadow: 2px 2px 2px black;
        font-family:cursive;
    }
    a{
        display: flex;
        justify-content: center;
        align-items: center;
        place-content:center ;
    }
}
.features{
    height: 100vh;
    width: 100%;
    background: rgba(192, 192, 192, 0.649);
    h2{
        text-align: center;
        width: 100%;
        padding: 5vh 0;
        font-size: 70px;
        color:goldenrod;
        text-shadow: 2px 2px 2px black;
        font-family:cursive;
    }
    p{
        color: black;
        font-weight: bold;
        font-size: 15px;
        font-family: Arial, Helvetica, sans-serif;
    }
    img{
        height: 300px;
        width: 275px;
        display: grid;
        justify-content:center;
        align-items: center;
        flex-wrap: wrap;
        margin: 0 auto;
    }
}
.food{
        border: solid 1px black;
        height: 100vh;
        width: 100%;
        background: url(./Images/img12.jpg) no-repeat center/cover;   
}
h1{
        text-align: center;
        height: 100vh;
        width: 100%;
        padding: 15vh 0;
        font-size: 70px;
        color:white;
        text-shadow: 2px 2px 2px black;
        font-family:cursive;
    }

.order{
    border: solid 1px black;
    height: 118vh;
    width: 100%;
    background: url(./Images/img13.jpg) no-repeat center/cover;
}
.btn{   
        margin-top: 5vh;
        border: none;
        background:rgba(0, 0, 0, 0.177);
        padding: 20px 50px;
        border-radius: 50px;
        font-size: 20px;
        font-weight: bold;
        display: flex;
        justify-self: center;
    }    
.contact{
    background-color:rgba(192, 192, 192, 0.649);
    h2{
        text-align: center;
        width: 100%;
        padding: 5vh 0;
        font-size: 70px;
        color:goldenrod;
        text-shadow: 2px 2px 2px black;
        font-family:cursive;
    }
}
.contact2{
    height: 70vh;
    background-color:rgba(192, 192, 192, 0.649);
    .un{
        color: black;
        font-size: 20px;
        color: black;
        display: grid;
        grid-template-columns: repeat(2,auto);
        row-gap: 5vh;
        align-items: center;   
    }   
}
h3{
    color: goldenrod;
    font-size: 30px;
    font-weight: bold;
    text-shadow:1px 1px 1px black ;
}
.follow{
    padding: 5vh 0;
    display: flex;
    justify-self: center;
    column-gap:1vw;
}
.c2{
    height: 100vh;
    width: 100%;
    background: url(./Images/img15.jpg) no-repeat center/cover;
    p{
    padding-top: 30vh;
    padding-left: 60vw;
    padding-right: 5vw;
    color: white;
    font-family: cursive;
    font-weight: bold;
    font-size: 35px;
    text-align: justify;
}
}
.c3{
    background: url(./Images/img16.png) no-repeat ;
    height: 80vh;
    width: 100%;
    margin: 10vh 0;
    .p1{
        padding-top: 30vh;
        color: black;
        font-size: 20px;
        bottom: 10vh;
        padding-left: 35vw;
        padding-right: 5vw;
        font-family: cursive;
        font-weight: bold;
        text-align: justify;
    }
}
.c4{
    display: grid;
    grid-template-columns: auto auto;
    justify-content:center;
    row-gap: 5vh;
    
    .img1{
        padding-right: 1vw;
        padding-left: 7vw;
    }
    .img2{
        padding-left: 5vw;
        padding-right: 5vw;
    }
    p{
        font-weight: bold;
        font-size: 20px;
        font-family: cursive;
        text-align: justify;
        padding: 20vh 5vw;
    }   
}
.c5{
    padding: 10vh 30vh;
    display: grid;
    grid-template-columns: auto auto;
    .un{
        color: black;
        font-size: 20px;
        color: black;
        display: grid;
        grid-template-columns: repeat(2,auto);
        align-items: center; 
    }
}
.menubox{
    height: 100vh;
    width: 100%;
    background: url(./Images/img19.jpg) no-repeat center/cover ;
    display: grid;
    grid-template-columns: repeat(3,auto);
    justify-content: space-evenly;
    align-items: center;
    padding-top: 25vh;
    row-gap: 5vh;
    .i1{
        height:150px;
        width: 150px;
        filter: drop-shadow(5px 5px 5px green);
        
    }
    .i2{
        height: 50px;
        width: 50px;
    }
    h2{
        font-family: cursive;
        font-weight: bold;
        font-size: 30px;
        text-shadow: 2px 2px 2px red;
    }
}
.franc{
    height: 100vh;
    width: 100%;
    .vdo{
    height: 100%;
    width: 100%;
    }
}
.f1{
    h3{
        text-align: center;
        padding: 5vh 0;
        tab-size: 50px;
    }
    p{
        padding: 1vh 0;
        text-align: center;
        font-size: 30px;
    }
}

.f2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.divider{
        width: 100vw;
        height: 3px;
        background: purple;  
}
.key{
    height: 50vh;
    width: 100%;
    h3{
        text-align: center;
        padding: 5vh 0;
    }
    ul{
        display:grid;
        grid-template-columns: repeat(5,auto);
        column-gap: 5vw;
        padding: 2vw;
    }
    .img{
        height: 50px;
        width: 50px;
        }
    h4{
        color: goldenrod;
    }
    p{
        font-size: 15px;
    }
    }
.page{
    ul{display:grid;
        grid-template-columns: repeat(2,auto);
        column-gap: 5vw;
        padding: 5vh 2vw;
    }
    h3{
        text-align: center;
        padding: 5vh 0;
    }
    input{
        border: solid 2px goldenrod;
        padding: 5vh 5vw;
        height: 6vh;
        width: 40vw;
        text-align: center;
        border-radius: 25px;
        justify-content: center;
        color: black;
    }
    p{
        text-align: center;
        font-size: 20px;
        padding: 5vh 5vw;
    }
}
.page2{
    h3{
        text-align: center;
        padding: 5vh 0;
    }
    ul{
        display:grid;
        grid-template-columns: repeat(2,auto);
        column-gap: 5vw;
        padding: 5vh 2vw;
    }
    li{
        font-size: 25px;
        font-weight: bold;
    }
}







